<div nz-row nzJustify="space-between">
  <div nz-col nzSpan="4">
    <button
      nz-button
      nzType="link"
      routerLink="/main/message-list"
      routerLinkActive="activebutton"
    >
    <i nz-icon nzType="message" nzTheme="outline"></i>
    </button>
  </div>
  <div nz-col nzSpan="4">
    <button
      nz-button
      nzType="link"
      routerLink="/main/contact-list"
      routerLinkActive="activebutton"
    >
    <i nz-icon nzType="team" nzTheme="outline"></i>
      
    </button>
  </div>
  <div nz-col nzSpan="4">
    <button
      nz-button
      nzType="link"
      routerLink="/main/my-list"
      routerLinkActive="activebutton"
    >
    <i nz-icon nzType="home" nzTheme="outline"></i>
      
    </button>
  </div>
</div>
